<% content_for :listings_css do %>

  <% if s["button_color"] %>
    .<%= section_id %>__listings__button--ghost {
      color: rgb(<%= s["button_color"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["button_color_hover"] %>
    .<%= section_id %>__listings__button--ghost:hover {
      background-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
      border-color: rgb(<%= s["button_color_hover"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["price_color"] %>
    .<%= section_id %>__listings__price-container {
      color: rgb(<%= s["price_color"]["value"].join(",") %>);
    }
  <% end %>

  <% if s["no_listing_image_background_color"] %>
    .<%= section_id %>__listings__listing-image--empty {
      background-color: rgba(<%= s["no_listing_image_background_color"]["value"].join(",") %>, 0.2);
    }
  <% end %>

  <% if s["author_name_color_hover"] %>
    .<%= section_id %>__listings__author-link:hover .listings__author-name {
      color: rgb(<%= s["price_color"]["value"].join(",") %>);
    }
  <% end %>
<% end %>

<section id="<%= section_id %>" class="listings__section">
  <div class="listings__content">
    <h1 class="listings__title"><%= s["title"] %></h1>
    <p class="listings__paragraph"><%= s["paragraph"] %></p>

    <div id="random_listings" class="listings__listings">
    </div>
    <% if s["button_title"] %>
      <a class="<%= section_id%>__listings__button--ghost listings__button--ghost" href="<%= s['button_path']['value'] %>"><%= s["button_title"]%></a>
    <% end %>
  </div>
</section>

<% content_for :javascript_after do %>
  <script type="text/javascript">
    $(function(){
      $.get(
        '/landing_page/random_listings',
        function(data){
          $("#random_listings").html(data);
        }
      );
    })
  </script>
<% end %>
